schema/LMCI/LMCIMCH25eH.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
   targetNamespace="http://www.lmonte.com/besm/LMCIMCH25eH"
   xmlns="http://www.lmonte.com/besm/LMCIMCH25eH"
   xmlns:d="http://www.lmonte.com/besm/d"
   xmlns:bld="http://www.lmonte.com/besm/bld"
   xmlns:env="http://www.lmonte.com/besm/env"
   xmlns:lit="http://www.lmonte.com/besm/lit"
   xmlns:hvac="http://www.lmonte.com/besm/hvac"
   xmlns:comp="http://www.lmonte.com/besm/comp"
   xmlns:com="http://www.lmonte.com/besm/com"
   xmlns:dtyp="http://www.lmonte.com/besm/dtyp"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   xmlns:altova="http://www.altova.com/xml-schema-extensions"
   elementFormDefault="qualified" attributeFormDefault="unqualified" version="2022.0.000">
   <xsd:import namespace="http://www.lmonte.com/besm/com" schemaLocation="../base/ResCommon.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/bld" schemaLocation="../base/ResBuilding.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/env" schemaLocation="../base/ResEnvelope.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/lit" schemaLocation="../base/ResLighting.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/hvac" schemaLocation="../base/ResHvac.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/comp" schemaLocation="../base/ResCompliance.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/dtyp" schemaLocation="../base/DataTypes.xsd"/>
   <xsd:element name="ComplianceDocumentPackage">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="DocID" minOccurs="0">
               <xsd:complexType>
                  <xsd:attribute name="doc" type="comp:ComplianceDocumentTag" fixed="LMCIMCH25eH"/>
                  <xsd:attribute name="docType" type="comp:ComplianceDocumentType" fixed="CERTIFICATE OF INSTALLATION"/>
                  <xsd:attribute name="docTitle" type="comp:ComplianceDocumentTitleRes" fixed="Refrigerant Charge Verification"/>
                  <xsd:attribute name="docVariantSubtitle" type="comp:ComplianceDocumentVariantSubtitle" fixed="MCH25e Winter Setup Charge Verification Procedure"/>
                  <xsd:attribute name="docVariantLetter" type="comp:ComplianceDocumentVariant" fixed="e"/>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="Payload" type="comp:Payload"/>
            <xsd:element name="DocumentData">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="Header" type="comp:HeaderCF2R_3R" />
                     <xsd:element ref="lMCIMCH25eH" />
                     <xsd:element name="DocAuthor" type="comp:DocumentAuthor" />
                     <xsd:element name="RespPerson" type="comp:ResponsiblePersonCF2R_H" />
                     <xsd:element name="Footer" type="comp:Footer" />
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="Report" type="xsd:base64Binary"/>
            <xsd:element name="ReportMMB" type="xsd:base64Binary" minOccurs="0"/>
         </xsd:sequence>
         <xsd:attribute name="revision" use="required" type="xsd:string" fixed="rev 20220101"/>
         <xsd:attribute name="doc" use="required" type="comp:ComplianceDocumentTag" fixed="LMCIMCH25eH"/>
      </xsd:complexType>
   </xsd:element>
   <xsd:complexType name="LMCIMCH25eH">
      <xsd:annotation>
         <xsd:documentation>Refrigerant Charge Verification - MCH25e Winter Setup Charge Verification Procedure</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="Section_A" minOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">System Information</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">All references to the MCH01 in this section refer to the parent LMCI-MCH01 and all other references are to other LMCI or LMCV compliance documents.</xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="A_BeginNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Begin Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">Each system requiring refrigerant charge verification will be documented on a separate certificate.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A01_ResidentialSpaceConditioningSystemName" type="hvac:ResidentialSpaceConditioningSystemName" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Space Conditioning System Identification or Name</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">auto filled text: referenced from MCH01</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A02_ResidentialHvacSystemAreaServed" type="hvac:ResidentialHvacSystemAreaServed" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Space Conditioning System Location or Area Served</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">auto filled text: referenced from MCH01</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A03_CondenserManufacturer" type="comp:CondenserManufacturer" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Condenser (or package unit) Make or Brand</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">auto filled text: referenced from MCH01</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A04_CondenserModelNumber" type="comp:CondenserModelNumber" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Condenser (or package unit) Model Number</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">auto filled text: referenced from MCH01</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A05_CondenserNominalCoolingCapacity" type="hvac:CondenserNominalCoolingCapacity" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Nominal Cooling Capacity (tons) of Condenser</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">auto filled text: referenced from MCH01</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A06_CondenserSerialNumber" type="comp:CondenserSerialNumber" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Condenser (or package unit) Serial Number</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">auto filled text: referenced from MCH01</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A07_RefrigerantType" type="comp:RefrigerantType" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Refrigerant Type</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">user picks from list  Choice R22 display text: R-22; Choice R410A display text: R-410A;  Choice Other display text: Other;</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:choice maxOccurs="1">
                     <xsd:element name="A08_RefrigerantTypeOther" type="comp:RefrigerantTypeOther" >
                        <xsd:annotation>
                           <xsd:documentation source="FieldText">Other Refrigerant Type (if applicable)</xsd:documentation>
                           <xsd:documentation source="CalculationsAndRules">If RefrigerantType in A07 equals Other, Then user input text to identify refrigerant type, Else result is N/A stored in the NotApplicableMessage</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                     <xsd:element name="A08_NotApplicableMessage" type="comp:NotApplicableMessage" >
                        <xsd:annotation>
                           <xsd:documentation source="FieldText">Other Refrigerant Type (if applicable)</xsd:documentation>
                           <xsd:documentation source="CalculationsAndRules">If RefrigerantType in A07 equals Other, Then user input text to identify refrigerant type, Else result is N/A stored in the NotApplicableMessage</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                  </xsd:choice>
                  <xsd:element name="A09_IsLiquidLineFilterDrierInstalledToSpec" type="comp:IsLiquidLineFilterDrierInstalledToSpec" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Liquid Line Filter Drier Installed According to Manufacturers Specifications (if applicable)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">user selects from Yes or NA.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A10_ImprovementStatus" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">System Installation Type</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">user picks one from list: New, Replacement, Alteration</xsd:documentation>
                     </xsd:annotation>
                     <xsd:simpleType>
                        <xsd:restriction base="hvac:ImprovementStatus">
                           <xsd:enumeration value="Alteration"/>
                           <xsd:enumeration value="New"/>
                           <xsd:enumeration value="Replacement"/>
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="A11_FaultIndicatorDisplayStatus" type="comp:FaultIndicatorDisplayStatus" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Fault Indicator Display (FID) Status (Note: Even systems with a FID must have refrigerant charge verified by installer).</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">user picks one from list.  Choice FactoryInstalledFID display text: This system has a factory installed FID  choice FieldInstalledFID display text: This system has a field installed FID; choice NoInstalledFID display text: This system does not have a FID device installed</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A12_UseMinimumAirflowApprovedVerificationProcedure" type="comp:UseMinimumAirflowApprovedVerificationProcedure" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Is the system of a type that the minimum airflow can be verified for all indoor units using an approved measurement procedure (RA3.3 or RA3.3.3)?</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Reference values from parent MCH-0! for the following evaluations
For Criterion1 reference value for CanRA3_3AirflowProtocolsTestSystem as follows: MCH-01a section J J12; MCH-01b section F F11 or section G G13; MCH-01c section I  I11; or MCH-01d section K K11 or section L L13.  For Criterion2 reference data as follows: MCH-01a D07 DuctLocation; MCH-01c C06 DuctSystemType; MCH-01d D07 DuctSystemTypePerf.  For Criterion3 reference data as follows: MCH-01b C12 IndoorUnitsCount, C13 DuctedIndoorUnitsCount; MCH-01d D06 IndoorUnitsCount, D13 DuctedIndoorUnitsCount.  Evaluation:  If (Criterion1) CanRA3_3AirflowProtocolsTestSystem == false;  Or If (Criterion2) DuctLocation, DuctSystemType Or DuctSystemTypePerf == DuctedAndDuctlessIndoorUnits Or Ductless;  Or If (Criterion3) DuctedIndoorUnitsCount LT IndoorUnitsCount  result = false, display term No, the system airflow rate measurement procedures in RA3.3 or RA3.3.3 cannot be used to verify system airflow rate requirements for all the indoor units for this system.;  Else result = true display term Yes.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A13_UseRefrigerantChargeApprovedVerificationProcedure" type="comp:UseRefrigerantChargeApprovedVerificationProcedure" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Is the system of a type that approved refrigerant charge verification procedures can be used to verify compliance with the refrigerant charge verification requirements when temperatures are  [d:gte/] 55[d:deg/]F  (RA3.2.2, or RA1)?</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">For Boolean true value, display:  Yes, one of the Refrigerant charge verification procedures from RA3.2.2 or RA1 is applicable to this system and can be used to verify compliance.  For Boolean false value, display: No, none of the refrigerant charge verification procedures in RA3.2.2, or RA1 are applicable to the system therefore compliance shall use HERS Rater observation of the installer weigh-in charging procedure</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A14_RefrigerantChargeVerificationDate" type="comp:RefrigerantChargeVerificationDate" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Date of Refrigerant Charge Verification for this system</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">user input: date: use validated date format</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A15_RefrigerantChargeVerificationMethod" type="comp:RefrigerantChargeVerificationMethod" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Refrigerant charge verification method used.</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">user picks one from list: 
Superheat, display text: Superheat (outdoor temperature must be equal to or greater than 55 degF); 
Subcooling, display text Subcooling (outdoor temperature must be equal to or greater than 55 degF);  
WeighIn, display text:  Weigh-in with Installer independent;  
WeighInHERS, display text:  Weigh-in with HERS Rater observation; 
WinterSetup display term Winter setup (applicable when outdoor temperature is less than 55 degF)
NewFactoryCharge display text: New package unit factory charge;</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A16_RefrigerantChargeVerifier" type="comp:RefrigerantChargeVerifier" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Person who performed the Refrigerant Charge Verification reported on this Certificate of Installation</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">If A15 equals WeighIn or WeighInHERS then result is Installer, Else user picks from list Choice HERS_Rater display text: HERS Rater;  choice Installer display text: HVAC system installer</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A17_RefrigerantChargeVerificationMessage" type="comp:RefrigerantChargeVerificationMessage" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">HERS Verification Compliance Requirement Status</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">If any of the following conditions are true: RefrigerantChargeVerifier equals HERS_Rater,  UseMinimumAirflowApprovedVerificationProcedure equals false, UseRefrigerantChargeApprovedVerificationProcedure equals false or RefrigerantChargeVerificationMethod equals WeighIn Or WeighInHERS, Then result is System does not qualify for Group Sampling;    Else If RefrigerantChargeVerificationMethod equals NewFactoryCharge, result is HERS verification of refrigerant charge not required;  Else result is System qualifies for Group Sampling</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A17After" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Variant MCH25e</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">MCH-25e - Refrigeration Charge Verification - Winter Setup</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">If A12_UseMinimumAirflowApprovedVerificationProcedure == true And A13_UseRefrigerantChargeApprovedVerificationProcedure == true And A15_RefrigerantChargeVerificationMethod == WinterSetup
Use MCH25e Winter Setup Charge Verification Procedure for remainder of this report.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A17AfterNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">[d:i]Winter Setup for the Standard Charge Verification Procedure is specified in Reference Residential Appendix RA1.2. [d:l t="*"][d:list]Procedures for determining Refrigerant Charge using the Standard Charge Verification Procedure are given in Reference Residential Appendix RA3.2.2[/d:list][/d:l][/d:i]</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_B" minOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">System Model Applicability for Winter Setup Method</xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="B01_RefrigerantMeteringDevice" type="comp:RefrigerantMeteringDevice" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Refrigerant metering device type</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="B02_IsWinterSetupMethodApplicable" type="comp:IsWinterSetupMethodApplicable" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Winter Setup Method applicability status</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">If RefrigerantMeteringDevice is ThermostaticExpansionValve or ElectronicExpansionValve result is true.  For Boolean true value, display: Winter Setup Method is applicable to this system metering device type.  Else result is false.  For Boolean false value, display  Winter Setup Method is not applicable to this system metering device type, do not proceed</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="B03" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">The responsible persons signature note</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">The responsible person's signature on this document indicates confirmation that the installed model number is currently listed as approved for Winter Setup Method on the Energy Commission website: http://www.energy.ca.gov/rules-and-regulations/building-energy-efficiency/manufacturer-certification-building-equipment</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_C" minOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Instrument Calibration</xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="C_BeginNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Begin Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">Instrumentation specifications and procedures for instrument calibration are given in Reference Residential Appendix RA3.2.2.2 and RA3.2.2.4. respectively.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="C01_DigitalRefrigerantGaugeCalibrationDate" type="comp:DigitalRefrigerantGaugeCalibrationDate" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Date of Digital Refrigerant Gauge Calibration</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User input calibration date in valid date format</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="C02_DigitalThermocoupleCalibrationDate" type="comp:DigitalThermocoupleCalibrationDate" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Date of Digital Thermocouple Calibration</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User input calibration date in valid date format</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="C03_IsDigitalRefrigerantGaugeCalibrationCurrent" type="comp:IsDigitalRefrigerantGaugeCalibrationCurrent" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Digital Refrigerant Gauge Calibration Status</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">If the difference A14_RefrigerantChargeVerificationDate in section A and the C01_DigitalRefrigerantGaugeCalibrationDate is greater than one month, or a negative number, 
result = false display term Digital Refrigerant Gauge requires Calibration (do not proceed),   
Else If the difference is one month or less, 
result = true  display term Calibration is current.
End If</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="C04_IsDigitalThermocoupleCalibrationCurrent" type="comp:IsDigitalThermocoupleCalibrationCurrent" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Digital Thermocouple Calibration Status</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">If the difference between A14_RefrigerantChargeVerificationDate in section A and C02_DigitalThermocoupleCalibrationDate  is greater than one month, or a negative number,
result = false  display term Digital Thermocouple Gauge requires Calibration (do not proceed),   
Else if the difference is one month or less, 
result = true  display term Calibration is current
End If</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_D" minOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Measurement Access Hole (MAH) Verification</xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="D_BeginNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Begin Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">Procedures for installing MAH are specified in Reference Residential Appendix RA3.2.2.3</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="D01_MeasurementAccessHoleMethod" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Method Used to Demonstrate Compliance with the Measurement Access Hole (MAH) Requirement</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">For choice MAH_InstalledAsRequired display text:  MAH installed and labeled consistent with Figure 3.2-1  For choice MAH_NotRequired display text: Return side of system is located entirely within conditioned space such that an accurate return air dry-bulb temperature can be taken at the return grille.  For choice MAH_InstalledAlternativeLocation display text:  MAH cannot be installed consistent with Figure 3.2-1.  An alternative location has been provided and clearly labeled</xsd:documentation>
                     </xsd:annotation>
                     <xsd:simpleType>
                        <xsd:restriction base="comp:MeasurementAccessHoleMethod">
                           <xsd:enumeration value="MAH_InstalledAlternativeLocation"/>
                           <xsd:enumeration value="MAH_InstalledAsRequired"/>
                           <xsd:enumeration value="MAH_NotRequired"/>
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_E" minOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Minimum System Airflow Rate Verification</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">All references to the MCH-01 in this section refer to the parent LMCI-MCH-01 and all other references are to other LMCI compliance documents.  
Require 1 row of data for each indoor unit listed in the "HERS Verification Requirements for Duct Systems" table in the parent LMCI-MCH-01for the SC system in A02</xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="E_BeginNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Begin Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">Procedures for verifying minimum system airflow are specified in Reference Residential Appendix RA3.3.3.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="TableIndoorUnit" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="Row" minOccurs="1" maxOccurs="unbounded">
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element name="E01_IndoorUnitName" type="hvac:IndoorUnitName" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Indoor Unit Name or Description of Area Served</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">Reference value in  "HERS Verification Requirements for Duct Systems" table in the parent MCH-01 for value in A02_ResidentialHvacSystemAreaServed</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:choice maxOccurs="1">
                                       <xsd:element name="E02_MinimumAirflowRateRequired" type="comp:MinimumAirflowRateRequired" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Minimum Required System Airflow Rate (cfm)</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">Calculated field: 
If the parent MCH-01 indicates a MCH-28 is required for alternate minimum airflow rate compliance
result = RequiredVerificationTable150BC stored in MinimumAirflowRateAlternative; 
 
Else reference numeric value  from applicable MCH23 field for the indoor unit in E01 and store result in MinimumAirflowRateRequired.   
 
Applicable MCH23 field as follows:  
Mch23a, Mch23e and Mch23f  - field D02
Mch23b -  field E03
Mch23c  - field E02
(Mch23d not applicable)</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="E02_MinimumAirflowRateAlternative" type="comp:MinimumAirflowRateAlternative" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Minimum Required System Airflow Rate (cfm)</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">Calculated field: 
If the parent MCH-01 indicates a MCH-28 is required for alternate minimum airflow rate compliance
result = RequiredVerificationTable150BC stored in MinimumAirflowRateAlternative; 
 
Else reference numeric value  from applicable MCH23 field for the indoor unit in E01 and store result in MinimumAirflowRateRequired.   
 
Applicable MCH23 field as follows:  
Mch23a, Mch23e and Mch23f  - field D02
Mch23b -  field E03
Mch23c  - field E02
(Mch23d not applicable)</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                    </xsd:choice>
                                    <xsd:element name="E03_MinimumAirflowRateVerificationStatus" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">System Airflow Rate Verification Status</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">Calculated field:  
If the parent MCH-01 indicates a MCH-28 is required for alternate minimum airflow rate compliance: 
If the system has a registered LMCI-MCH-28 that indicates compliance with Table 150.0-B or C return duct design requirements, then 
result  = SystemCompliesUsingTable150BC display term System complies using Table 150.0-B or C alternative return duct design criteria;   
Else result = SystemDoesNotComplyLMCIMCH28Required display term System does not comply.  A registered LMCI-MCH-28 is required (do not allow this MCH-25 to be registered)
End If
   
ElseIf the parent MCH-01 indicates a MCH-23 is required for minimum airflow rate compliance 
If this system has a registered LMCI MCH-23a,  MCH-23b, MCH23e or MCH-23f that meets the compliance criterion in E02 
result = SystemComplies display term System complies with minimum airflow rate requirements;  
 
Else If  A10_ImprovementStatus == Alteration And the system complies with the alternative airflow compliance method on a registered LMCI-MCH23c  
result= SystemCompliesUsingAlternativeRemedialActions display term  system complies using the alternative remedial actions specified in RA3.3.3.1.5. This System does not qualify for Group Sampling;  
 
Else result = SystemDoesNotComplyLMCIMCH23Required display term  System does not comply. A registered LMCI-MCH-23 for this system is required . (do not allow this MCH-25 to be registered).
End If
End If</xsd:documentation>
                                       </xsd:annotation>
                                       <xsd:simpleType>
                                          <xsd:restriction base="comp:MinimumAirflowRateVerificationStatus">
                                             <xsd:enumeration value="SystemComplies"/>
                                             <xsd:enumeration value="SystemCompliesUsingAlternativeRemedialActions"/>
                                             <xsd:enumeration value="SystemCompliesUsingTable150BC"/>
                                             <xsd:enumeration value="SystemDoesNotComplyLMCIMCH23Required"/>
                                             <xsd:enumeration value="SystemDoesNotComplyLMCIMCH28Required"/>
                                          </xsd:restriction>
                                       </xsd:simpleType>
                                    </xsd:element>
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="E04_DoesSystemComplyWithAirflowRateVerification" type="comp:DoesSystemComplyWithAirflowRateVerification" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Compliance Statement</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Calculated field:  If all indoor units listed in E01 have E03 == SystemCompliesUsingTable150BC Or SystemComplies Or SystemCompliesUsingAlternativeRemedialActions  result = true display term SC System complies with Minimum System Airflow Rate Verification; Else result = false display term SC System does not comply with Minimum System Airflow Rate Verification   and do not allow this Mch-25 to be registered.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="E04a_SectionComments" type="comp:SectionComments"  minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Notes:</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_F" minOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Data Collection and Calculations</xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="F_BeginNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Begin Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">Procedures for data collection and variable metering device calculations are given in Reference Residential Appendix RA3.2.2.5 and RA3.2.2.6.2 respectively.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="F01" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Responsible persons signature note</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">The responsible person's signature on this document indicates confirmation that, with a Condenser Outlet Air Restrictor installed, and after system operation was stabilized for at least 15 minutes, throughout the data collection for this verification, the difference between the liquid line pressure and suction line pressure was maintained between 160 and 220 psi for R-410A systems, or between 100 and 145 psi for R-22 systems.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="F02_LowestReturnAirDryBulbTemperature" type="comp:LowestReturnAirDryBulbTemperature" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Lowest return air dry bulb temperature that occurred during the refrigerant charge verification procedure ([d:deg/]F)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User input; Range for this value is  0 to 130.   In order to have a verification that complies, the return air drybulb temperature must remain above 70F during the verification procedure,</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="F03_CondenserEnteringDryBulbTemperature" type="comp:CondenserEnteringDryBulbTemperature" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Measured Condenser Air Entering Dry-Bulb Temperature (T[d:sub]condenser, db[/d:sub]) ([d:deg/]F)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User input; Range for this value is  0 to 130</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="F04_DoesWinterSetupOutdoorTemperatureQualify" type="comp:DoesWinterSetupOutdoorTemperatureQualify" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Outdoor Temperature Qualification Status</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Calculated field: 
If F03_CondenserEnteringAirDryBulbTemperature is less than 37F or greater than 70F 
result = false.  display term Winter Setup is not allowed to be used when the outdoor temperature is less than 37F or greater than 70F - do not proceed.   
Else 
result = true display term Outdoor temperature is within the allocable range for use of the Winter Setup.
End If</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="F05_MeasuredLiquidLineTemperature" type="comp:MeasuredLiquidLineTemperature" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Measured Liquid Line Temperature (T[d:sub]liquid[/d:sub]) ([d:deg/]F)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User input; Range for this value is  -40 to 150</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="F06_MeasuredLiquidLinePressure" type="comp:MeasuredLiquidLinePressure" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Measured Liquid Line Pressure (P[d:sub]liquid[/d:sub]) (psig)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User input; Range for this value is  0 to 800</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="F07_CondenserSaturationTemperature" type="comp:CondenserSaturationTemperature" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Condenser Saturation Temperature (T[d:sub]condenser, sat[/d:sub]) from Digital Gauge or P-T Table using Line F06 ([d:deg/]F)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User input; Range for this value is  -40 to 150</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="F08_MeasuredSubcooling" type="comp:MeasuredSubcooling" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Measured Subcool (Line F07 - Line F05) ([d:deg/]F)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Calculated field:
result = F07_CondenserSaturationTemperature  - F05_MeasuredLiquidLineTemperature</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="F09_TargetSubcooling" type="comp:TargetSubcooling" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Target Subcool from Manufacturer ([d:deg/]F)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User input; Range for this value is  0 to 50</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="F10_IsRefrigerantChargeWinterSetupCompliant" type="comp:IsRefrigerantChargeWinterSetupCompliant" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Compliance Statement:</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">If the absolute value ABS (F08_MeasuredSubcooling - F09_TargetSubcooling) is less than or equal to  3
result = true.  display term System Refrigerant Charge Complies with Winter Charge Setup Verification Method - System is also required to pass the Metering Device Verification in the next Section.  
Else 
result = false display term The System does not comply.
End If</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_G" minOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Metering Device Verification</xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="G_BeginNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Begin Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">Procedures for the verification of proper metering device operation are specified in RA3.2.2.5.2</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="G01_MeasuredSuctionLineTemperature" type="comp:MeasuredSuctionLineTemperature" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Measured Suction Line Temperature (T[d:sub]suction[/d:sub]) ([d:deg/]F)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User input; Range for this value is -40 to 150</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="G02_MeasuredSuctionLinePressure" type="comp:MeasuredSuctionLinePressure" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Measured Suction Line Pressure (P[d:sub]suction[/d:sub]) (psig)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User input; Range for this value is 0 to 400</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="G03_EvaporatorSaturationTemperature" type="comp:EvaporatorSaturationTemperature" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Evaporator Saturation Temperature (T[d:sub]evaporator, sat[/d:sub]) from Digital Gauge or P-T Table using Line G02</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">Evaporator saturation temperature from digital gauge or P-T Table using line G02 (degreeF)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User input; Range for this value is -40 to 150</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="G04_MeasuredSuperheat" type="comp:MeasuredSuperheat" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Measured Superheat (Line G01 - Line G03) ([d:deg/]F)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Calculated field:
result = G01_MeasuredSuctionLineTemperature - G03_EvaporatorSaturationTemperature</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="G05_IsMeasuredSuperheatWithinCEC_Range" type="comp:IsMeasuredSuperheatWithinCEC_Range" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Measured Superheat (Line G04) is between 4[d:deg/]F and 25[d:deg/]F (inclusive)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Calculated field:
If G04_MeasuredSuperheat is InRange(4 , 25) deg F 
result = true  display term Measured Superheat passes CEC requirement.  Else 
result = false display term Measured Superheat does not pass CEC requirement
End If</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="G06_MeasuredSuperheatWithinManufacturerSpec" type="comp:MeasuredSuperheatWithinManufacturerSpec" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Measured Superheat (Line G04) is within Manufacturer's Specifications (if known)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User selects from list: WithinManufacturerRange display term Yes, documentation to be provided upon request, NotKnown display term Not known or NotWithinManufacturerRange display term No</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="G07_IsMeteringDeviceVerificationCompliant" type="comp:IsMeteringDeviceVerificationCompliant" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Compliance Statement:</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Calculated field:
If G05_IsMeasuredSuperheatWithinCEC_Range == true and G06_MeasuredSuperheatWithinManufacturerSpec value == WithinManufacturerRange or NotKnown 
result = true display term Metering Device Verification Passes.  
Else 
result = false display term Metering Device Verification Does Not Pass
End If</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_H" minOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Confirmation of Refrigerant Pressure Differential</xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="H_BeginNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Begin Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">Procedures for the Winter Setup are detailed in RA1.2.22</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="H01_RefrigerantPressureDifferential" type="comp:RefrigerantPressureDifferential" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">P [d:sub]high[/d:sub] -  P [d:sub]low[/d:sub] (psi)  from F06 and G02</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Calculated field:
result = F06_MeasuredLiquidLinePressure from section F  -   G02_MeasuredSuctionLinePressure from section G</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="H02_IsRefrigerantPressureDifferentialCompliant" type="comp:IsRefrigerantPressureDifferentialCompliant" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Compliance Statement:</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">If A07_RefrigerantType == R410A And H01_RefrigerantPressureDifferential is InRange (160, 220) psi 
Or 
If  A07_RefrigerantType == R22 And H01_RefrigerantPressureDifferential is s InRange (100, 145) psi 
result = true display term Refrigerant pressure differential is within allowable range of values for the Winter Setup method and passes.  
Else 
result = false display term  Refrigerant pressure differential is outside of allowable range of values for the Winter Setup method and does not pass.
End If</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="H02After" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Variant MCH-25d</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">MCH-25d - Refrigeration Charge Verification - Fault Indicator Display (FID)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Use MCH-25d - FID for remainder of this report If FaultIndicatorDisplayStatus in section A equals FactoryInstalledfID or FieldInstalledFID</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_I" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Fault Indicator Display</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">If FaultIndicatorDisplayStatus in section A is FactoryInstalledFID or FieldInstalledFID then report this section</xsd:documentation>
               <xsd:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="I_BeginNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Begin Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">Procedures for the Fault Indicator Display Verification are detailed in RA3.4.2</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="I01_FID_ManufacturerNameMake" type="comp:FID_ManufacturerNameMake" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">FID Manufacturer Name/Make</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">This FID name or make must be on list of approved devices</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="I02_FID_ModelNumber" type="comp:FID_ModelNumber" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">FID Model Number</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">This FID model number must be on list of approved devices</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="I03_IsFID_MountedAdjacentThermostat" type="comp:IsFID_MountedAdjacentThermostat" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">The display module is mounted adjacent to the system thermostat</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">If user confirms this is true, report a pass else report a fail and do not proceed</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="I04_DoesFID_MeetJA6Requirements" type="comp:DoesFID_MeetJA6Requirements" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">The manufacturer has certified to the Energy Commission that the FID model meets the requirements of Reference Joint Appendix JA6 (Make and model found on CEC list of approved FID devices)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">If user confirms this is true, report a pass else report a fail and do not proceed</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="I05_DoesFID_ReportOperationWithinAcceptableParameters" type="comp:DoesFID_ReportOperationWithinAcceptableParameters" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">The system has operated for at least 15 minutes and the FID reports that the system is operating within acceptable parameters.</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">If user confirms this is true, report a pass else report a fail and do not proceed</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_J" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Fault Indicator Display Additional Requirements</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">If FaultIndicatorDisplayStatus in section A is FactoryInstalledFID or FieldInstalledFID then report this section</xsd:documentation>
               <xsd:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="J01" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">FID Factory or Field Installed</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">Fault indicator display devices shall either be factory installed by the space-conditioning system manufacturer, or field installed according to the space-conditioning system manufacturer's requirements and the FID manufacturer specifications.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="J02" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">FID Manufacturer User Instructions</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">The installer shall ensure that a copy of the FID manufacturer's user instructions documentation has been made available to the building owner.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="JEndNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">End Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">The responsible person's signature on this compliance document affirms that all applicable requirements in this table have been met.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="lMCIMCH25eH" type="LMCIMCH25eH">
      <xsd:annotation>
         <xsd:documentation>This element contains all of the data and text required to generate the LMCIMCH25eH compliance report.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
</xsd:schema>
