deployed/LMCI/LMCIMCH27bH.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.lmonte.com/besm/LMCIMCH27bH" version="2022.0.000" xmlns="http://www.lmonte.com/besm/LMCIMCH27bH" xmlns:altova="http://www.altova.com/xml-schema-extensions" xmlns:bld="http://www.lmonte.com/besm/bld" xmlns:com="http://www.lmonte.com/besm/com" xmlns:comp="http://www.lmonte.com/besm/comp" xmlns:d="http://www.lmonte.com/besm/d" xmlns:dtyp="http://www.lmonte.com/besm/dtyp" xmlns:env="http://www.lmonte.com/besm/env" xmlns:hvac="http://www.lmonte.com/besm/hvac" xmlns:lit="http://www.lmonte.com/besm/lit" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:import namespace="http://www.lmonte.com/besm/bld" schemaLocation="../base/ResBuilding.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/com" schemaLocation="../base/ResCommon.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/comp" schemaLocation="../base/ResCompliance.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/dtyp" schemaLocation="../base/DataTypes.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/env" schemaLocation="../base/ResEnvelope.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/hvac" schemaLocation="../base/ResHvac.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/lit" schemaLocation="../base/ResLighting.xsd"/>
   <xsd:element name="ComplianceDocumentPackage">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="DocID" minOccurs="0">
               <xsd:complexType>
                  <xsd:attribute name="doc" type="comp:ComplianceDocumentTag" fixed="LMCIMCH27bH"/>
                  <xsd:attribute name="docType" type="comp:ComplianceDocumentType" fixed="CERTIFICATE OF INSTALLATION"/>
                  <xsd:attribute name="docTitle" type="comp:ComplianceDocumentTitleRes" fixed="Indoor Air Quality and Mechanical Ventilation"/>
                  <xsd:attribute name="docVariantSubtitle" type="comp:ComplianceDocumentVariantSubtitle" fixed="MCH27b Multifamily Ventilation"/>
                  <xsd:attribute name="docVariantLetter" type="comp:ComplianceDocumentVariant" fixed="b"/>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="Payload" type="comp:Payload"/>
            <xsd:element name="DocumentData">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="Header" type="comp:HeaderHERS"/>
                     <xsd:element ref="lMCIMCH27bH"/>
                     <xsd:element name="DocAuthor" type="comp:DocumentAuthor"/>
                     <xsd:element name="RespPerson" type="comp:ResponsiblePersonCF2R_H"/>
                     <xsd:element name="Footer" type="comp:Footer"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="Report" type="xsd:base64Binary"/>
            <xsd:element name="ReportMMB" type="xsd:base64Binary" minOccurs="0"/>
         </xsd:sequence>
         <xsd:attribute name="revision" use="required" type="xsd:string" fixed="rev 20220101"/>
         <xsd:attribute name="doc" use="required" type="comp:ComplianceDocumentTag" fixed="LMCIMCH27bH"/>
      </xsd:complexType>
   </xsd:element>
   <xsd:complexType name="LMCIMCH27bH">
      <xsd:annotation>
         <xsd:documentation>Indoor Air Quality and Mechanical Ventilation - MCH27b Multifamily Ventilation</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="Section_A" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Whole-Dwelling Mechanical Ventilation - General Information</xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="A_BeforeNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Before Section Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">Title 24, Part 6, Section 160.2(b)2 
                           <d:b>Ventilation and Indoor Air Quality for Attached Dwelling Units.</d:b> All dwelling units shall meet the requirements of ANSI/ASHRAE Standard 62.2.-2019 Ventilation and Acceptable Indoor Air Quality in Residential Buildings subject to amendments specified by Title 24, Part 6 Section 160.2(b)2A.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A01_DwellingUnitName" type="com:DwellingUnitName">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Dwelling unit name</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Calculated field: Referenced data from Mch01, A01_DwellingUnitName</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A02_ResidentialBuildingType">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Building Type</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Calculated field: calculated field,  Referenced data from MCH-01, “Dwelling Unit Name” (A01)</xsd:documentation>
                     </xsd:annotation>
                     <xsd:simpleType>
                        <xsd:restriction base="com:ResidentialBuildingType">
                           <xsd:enumeration value="MultiFamily"/>
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="A03_ProjectScopePerformance" type="comp:ProjectScopePerformance">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Project scope</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">If parent is LMCC-PRF values are referenced from the LMCC-PRF
Else If parent is LMCC-MCH allow user to select from list: NewConstruction display term Newly Constructed, AdditionAlteration display term Addition and/or Alteration, AdditionOnly display term Newly Constructed Addition</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A04_DwellingUnitConditionedFloorArea" type="com:DwellingUnitConditionedFloorArea">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Total Conditioned Floor Area of Dwelling Unit</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">(For addition projects the conditioned floor area equals existing area plus addition area. )</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Calculated field: reference value from MCH-01; A03 DwellingUnitConditionedFloorArea</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A05_BedroomCount" type="com:BedroomCount">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Number of Bedrooms in Dwelling Unit</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">(For addition projects the number of bedrooms equals the existing bedrooms plus addition bedrooms)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Calculated field: default value referenced from MCH-01 A09 BedroomCount; If result = 0, replace with result = 1</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A06_VentilationSystemType">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Ventilation System Type</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">if parent is LMCC-PRF, reference data from LMCC-PRF;
                              else if parent is LMCC-MCH allow user to pick one from list:  
                              *Supply
                              *Exhaust;
                              *Balanced;
                              *Balanced – ERV;
                              *Balanced – HRV; 
                              *Central Fan Integrated (CFI);
                              *Central Ventilation System – Supply; 
                              *Central Ventilation System – Exhaust; 
                              **Central Ventilation System – Balancd</xsd:documentation>
                     </xsd:annotation>
                     <xsd:simpleType>
                        <xsd:restriction base="hvac:VentilationSystemType">
                           <xsd:enumeration value="Balanced"/>
                           <xsd:enumeration value="BalancedCentralVent"/>
                           <xsd:enumeration value="BalancedERV"/>
                           <xsd:enumeration value="BalancedHRV"/>
                           <xsd:enumeration value="CentralFanIntegrated"/>
                           <xsd:enumeration value="ExhaustCentralVent"/>
                           <xsd:enumeration value="ExhaustVent"/>
                           <xsd:enumeration value="SupplyCentralVent"/>
                           <xsd:enumeration value="SupplyVent"/>
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="A07_VentilationOperationSchedule">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Ventilation Operation Schedule</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Allow user to choose from list:
                              *Continuous;
                              *Short-Term Average; 
                              If result = Continuous And A06_VentilationSystemType ==CentralFanIntegrated 
                              Display message Central Fan Integrated Ventilation System Not Allowed to Operate Continuously - Do Not Proceed
                              End If</xsd:documentation>
                     </xsd:annotation>
                     <xsd:simpleType>
                        <xsd:restriction base="hvac:VentilationOperationSchedule">
                           <xsd:enumeration value="Continuous"/>
                           <xsd:enumeration value="ShortTermAverage"/>
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="A07After" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Mch-27b Variant</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">MCH-27b - Multifamily Ventilation</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Calculated field for Variant result: 
If  A02_ResidentialBuildingType == Multifamily 
And A06_VentilationSystemType == SupplyVent, ExhaustVent, Balanced,BalancedERV, BalancedHRV, CentralFanIntegrated, SupplyCentralVent Or ExhaustCentralVent Or BalancedCentralVent 
variant result = Mch27b Multifamily Ventilation;  
End If</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A09_ClimateZone" type="com:ClimateZone">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">NOT REPORTED IN PDF</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Value from LMCC</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_B" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Ventilation - Total Ventilation Rate</xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="B_BeginNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Begin Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">A mechanical supply system, exhaust system or combination thereof shall provide whole-dwelling ventilation with outdoor air each hour at no less than the rate in 160.2(b)2Aiv</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="B01_MinimumAirflowRateRequired" type="comp:MinimumAirflowRateRequired">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Total Required Ventilation rate, (Q<d:sub>tot</d:sub>)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Calculated field: (use equation 160.2-B)  result = (0.03 x  A04_DwellingUnitConditionedFloorArea ) +  (7.5 x  (A05_BedroomCount + 1)), (CFM)</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_C" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Installed  Ventilation - Total Ventilation Rate</xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="C_BeginNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">A mechanical supply system, exhaust system, or combination thereof shall provide whole-dwelling ventilation with outdoor air each hour at no less than the rate in 160.2(b)2Aiv</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="TableVentilation">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="Row" minOccurs="1" maxOccurs="unbounded">
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element name="C01_IAQ_VentilationFanName" type="hvac:IAQ_VentilationFanName">
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Fan Name</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">User input text</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="C02_IAQ_FanLocation" type="hvac:IAQ_FanLocation">
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Fan Location</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">User input text</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="C03_VentilationOperationRuntime" type="hvac:VentilationOperationRuntime">
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Runtime (min/hr)</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">Calculated field: 
If A07_VentilationOperationSchedule == Continuous 
result = 60; 
Else If A07_VentilationOperationSchedule == ShortTermAverage, 
user input postive integer LTE 60.
End If</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="C04_MechanicalVentilationInstalledRate" type="comp:MechanicalVentilationInstalledRate">
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Installed Mechanical Ventilation Rate (CFM)</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">User input positive integer</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="C05_ContinuousAirflowRateInstalled" type="hvac:ContinuousAirflowRateInstalled">
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Equivalent Continuous Ventilation (CFM)</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">Calculated field: result = (C03_VentilationOperationRuntime x C04_MechanicalVentilationInstalledRate) / 60 CFM.</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="C06_TotalContinuousAirflowRateInstalled" type="hvac:TotalContinuousAirflowRateInstalled">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Total Installed Equivalent Continuous Ventilation (CFM)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Calculated field: result = SUM ALL (C05_ContinuousAirflowRateInstalled)</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_C2" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation source="FieldText">HRV or ERV Serving Individual Dwelling Unit</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">This section is required If A06_VentilationSystemType == BalancedERV Or  BalancedHRV</xsd:documentation>
               <xsd:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="HErvBeginNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">Heat or Energy Recovery Systems must have a fan efficacy of 
                           <d:lte/> 1.0 W/cfm in all climate zones (Section 160.2(b)2Biii)

Heat or Energy Recovery Systems must prescriptively have a fan efficacy of 
                           <d:lte/> 0.6 W/cfm and a minimum sensible heat recovery of 67% in climate zones 1,2 and 11-16 (Section 170.2(c)3Biva)</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="TableHrvErv">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="Row" minOccurs="1" maxOccurs="unbounded">
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element name="Herv01_VentilationManufacturer" type="hvac:VentilationManufacturer">
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Manufcturer Make</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">User input</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="Herv02_VentilationModelNumber" type="hvac:VentilationModelNumber">
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Manufcturer Model Number</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">User input</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="Herv03_FanPowerPerFlow" type="hvac:FanPowerPerFlow">
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Fan Efficacy Performance Rating (W/CFM)</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">User input 
If parent is LMCC-MCH And A09_ClimateZone == 1 Or 2 Or InRange(11,16)
check that result LTE 0.6
Else
check that result LTE 1.0
End If</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="Herv04_SensibleRecoveryEfficiency" type="hvac:SensibleRecoveryEfficiency">
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Sensible Recovery Efficiency (%)</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">User input
If parent is LMCC-MCH And A09_ClimateZone == 1 Or 2 Or InRange(11,16)
check that result GTE 67%
End If</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_D" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Additional Envelope Requirements</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">This section is required if A06_VentilationSystemType  == SupplyVent , ExhaustVent, CentralFanIntegrated, SupplyCentralVent Or ExhaustCentralVent</xsd:documentation>
               <xsd:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="D01_AirLeakageRateMeasuredCFM50" type="comp:AirLeakageRateMeasuredCFM50">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Envelope Leakage</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Calculated field: Reference data from LMCI-MCH-24 AirLeakageRateMeasuredCFM50</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_E" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Additional Central Ventilation System Balancing Requirements</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">This section is required if A06_VentilationSystemType  == SupplyCentralVent, ExhaustCentralVent Or BalancedCentralVent</xsd:documentation>
               <xsd:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="E01_MaximumAirflowRate" type="comp:MaximumAirflowRate">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Maximum Ventilation Flow (CFM)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Calculated field: result = B01_MinimumAirflowRateRequired  x 1.20</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_F" minOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Compliance Statement</xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="F01_MechanicalVentilationCompliance" type="comp:MechanicalVentilationCompliance">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="CalculationsAndRules">If  A06_VentilationSystemType == Balanced, BalancedERV Or  BalancedHRV  And C06_TotalContinuousAirflowRateInstalled GTE B01_MinimumAirflowRateRequired 
                           result = BuildingPassesRateTest display term Building Passes Mechanical Ventilation RateTest; 
                            
                           Else If  A06_VentilationSystemType == BalancedCentralVent And C06_TotalContinuousAirflowRateInstalled GTE B01_MinimumAirflowRateRequired And C06_TotalContinuousAirflowRateInstalled LTE E01_MaximumAirflowRate 
                           result = BuildingPassesRateTest display term Building Passes Mechanical Ventilation RateTest; 
                            
                           Else If  A06_VentilationSystemType == SupplyVent, ExhaustVent, CentralFanIntegrated And C06_TotalContinuousAirflowRateInstalled GTE B01_MinimumAirflowRateRequired And D01_AirLeakageRateMeasuredCFM50 LTE LMCI-Mch24 CompartmentalizationLeakageTargetCFM50 
                           result = BuildingPassesRateTest display term Building Passes Mechanical Ventilation RateTest; 
                            
                           Else If  A06_VentilationSystemType == SupplyCentralVent Or ExhaustCentralVent And C06_TotalContinuousAirflowRateInstalled GTE B01_MinimumAirflowRateRequired And D01_AirLeakageRateMeasuredCFM50 LTE LMCI-Mch24 CompartmentalizationLeakageTargetCFM50 And C06_TotalContinuousAirflowRateInstalled LTE E01_MaximumAirflowRate 
                           result = BuildingPassesRateTest display term Building Passes Mechanical Ventilation RateTest; 
                            
                           Else result = BuildingFailsRateTest display term Building Fails Mechanical Ventilation RateTest
                           End If</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_G" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Other Requirements</xsd:documentation>
               <xsd:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="G_BeginNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Begin Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">
                           <d:i>The items listed below (6.1 through 6,6 abd 6.8 through 6.9) correspond to the information given in ASHRAE 62.2 Section 6 "Other Requirements".  Refer also to Chapter 4.6 of the Residential Compliance Manual (Section 4.6.8) for information describing these "Other Requirements".  The signature of the Responsible Person in the declaration statement below certifies that the building complies with these requirements specified in ASHRAE 62.2 Section 6.1 through 6.9 if applicable.</d:i>
                        </xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="G01" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">
                           <d:b>6.1 Adjacent Spaces and Transfer Air.</d:b> Measures shall be taken to minimize air movement across envelope components to dwelling units from adjacent spaces such as garages, unconditioned crawl spaces, unconditioned attics and other dwelling. Supply and balanced ventilation systems shall be designed and constructed to provide ventilation air directly from the outdoors. 
                           <d:line1/>
                           <d:tab1/> 6.1.1 
                           <d:b>Compliance for Attached Dwelling Units </d:b>. One method of demonstrating compliance with Section 6.1 shall be to verify a leakage rate below a maximum of 0.3 cfm per ft<d:sup>2</d:sup> (150 L/s per 100 m2) of the dwelling unit envelope per area (i.e. the sum of the area of walls between dwelling units, exterior walls, ceiling and floor) at a test pressure of 50 Pa by a blower door test conducted in accordance with either ANSI/ASTME779 or ANSI/ASTM-E1827.   The test shall be conducted with the dwelling unit as if it were exposed to outdoor air on all sides, top and bottom by opening doors and windows of adjacent dwelling units.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="G02" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">
                           <d:b>6.2 Instructions and Labeling.</d:b> Information on the ventilation design and/or ventilation systems installed, instructions on their proper operation to meet the requirements of this standard, and instructions detailing any required maintenance (similar to that provided for HVAC systems) shall be provided to the owner and the occupant of the dwelling unit. Controls shall be labeled as to their function (unless that function is obvious, such as toilet exhaust fan switches). See Chapter 13 of Guideline 24<d:sup>5</d:sup> for information on instructions and labeling.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="G03" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">
                           <d:b>6.3 Clothes Dryers.</d:b> Clothes dryers shall be exhausted directly to the outdoors. Exception: Condensing dryers plumbed to a drain.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="G04" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">
                           <d:b>6.4 Combustion and Solid-Fuel Burning Appliances.</d:b>
                           <d:line1/>
                           <d:tab1/> 6.4.1 Combustion and solid-fuel burning appliances must be provided with adequate combustion and ventilation air and vented in accordance with manufacturer installation instructions, NFPA 31, NFPA 54 ANSI Z223.1, NFPA 211  or other equivalent code acceptable to the building official.  
                           <d:line1/>
                           <d:tab1/> 6.4.2  Where atmospherically vented combustion appliances or solid-fuel burning appliances are located inside the pressure boundary, the total net exhaust flow of the two largest exhaust fans (not including a summer cooling fan intended to be operated only when windows or other air inlets are open) shall not exceed 15 cfm/100 ft<d:sup>2</d:sup> (75 L/s per 100 m<d:sup>2</d:sup>) of occupiable space when in operation at full capacity. If the designed total net flow exceeds this limit, the net exhaust flow must be reduced by reducing the exhaust flow or providing compensating outdoor airflow. Atmospherically vented combustion appliances do not include direct-vent appliances.  Combustion appliances that pass safety testing performed according to ANSI/BPI-1200, shall be deemed as complying with Section 6.4.2</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="G05" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">
                           <d:b>6.5 Air Tightness Requirements </d:b>
                           <d:line1/>
                           <d:tab1/> 6.5.1 
                           <d:b>Garages.</d:b> When an occupiable space adjoins a garage, the design must prevent migration of contaminants to the adjoining occupiable space. Air seal the walls, ceilings, and floors that separate garages from occupiable space. To be considered air sealed, all joints, seams, penetrations, openings between door assemblies and their respective jambs and framing, and other sources of air leakage through wall and ceiling assemblies separating the garage from the residence and its attic area shall be caulked, gasketed, weather stripped, wrapped, or otherwise sealed to limit air movement. Doors between garages and occupiable spaces shall be gasketed or made substantially airtight with weather stripping.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="G06" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">
                           <d:b>6.6 Ventilation Opening Area.</d:b> Spaces shall have ventilation openings as listed below. Such openings shall meet the requirements of Section 6.8. Exception: Attached dwelling units and spaces that meet the local ventilation requirements set for bathrooms in Section 5 [of ASHRAE 62.2].  
                           <d:line1/>
                           <d:tab1/> 6.6.1 
                           <d:b>Habitable Spaces.</d:b>  Each habitable space shall be provided with ventilation openings with an openable area not less than 4% of the floor area or less than 5 ft2 (0.5 m2).  
                           <d:line1/>
                           <d:tab1/> 6.6.1 
                           <d:b>Toilets and Utility Rooms</d:b>  Toilets and utility rooms shall be provided with ventilation openings with an openable area not less than 4% of the floor area or less than 1.5 ft2 (0.5 m2). Exceptions: 
                           <d:l t="#">
                              <d:list> Utility rooms with a dryer exhaust duct. </d:list>
                              <d:list> Toilet compartments in bathrooms. </d:list>
                           </d:l>
                        </xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="G07" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">
                           <d:b>6.8 Air Inlets.</d:b> Air inlets that are part of the ventilation design shall be located a minimum of 10 ft (3 m) from known sources of contamination such as a stack, vent, exhaust hood, or vehicle exhaust. The intake shall be placed so that entering air is not obstructed by snow, plantings, or other material. Forced air inlets shall be provided with rodent/insect screens (mesh not larger than 1/2 inch [13 mm]). 
                           <d:l t="#">
                              <d:list> Ventilation openings in the wall may be as close as a stretched-string distance of 3 ft (1 m) from sources of contamination exiting through the roof or dryer exhausts. </d:list>
                              <d:list> No minimum separation distance shall be required between windows and local exhaust outlets in kitchens and bathrooms.  </d:list>
                              <d:list> Vent terminations covered by and meeting the requirements of the National Fuel Gas Code NFPA 54/ ANSI Z223.1)7 or equivalent. </d:list>
                              <d:list> Where a combined exhaust/intake termination is used to separate intake air from exhaust air originating in a living space other than kitchens, no minimum separation distance between these two openings is required.  For these combined terminations, the exhaust air concentration within the intake air shall not exceed 10%, as established by the manufacturer. </d:list>
                           </d:l>
                        </xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="G08" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">
                           <d:b>6.9 Carbon Monoxide Alarms.</d:b> A carbon monoxide alarm shall be installed in each dwelling unit in accordance with NFPA 720, 
                           <d:i>Standard for the Installation of Carbon Monoxide (CO) Detection and Warning Equipment 14</d:i>, and shall be consistent with requirements of applicable laws, codes, and standards.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="G09" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">Supply only ventilation systems, makeup air-systems, and supply side balanced systems including HRV/ERV shall be provided with air filters having a designated efficiency equal to or greater than MERV 13 when tested in accordance with ASHRAE Standard 52.2, or a particle size efficiency rating equal to or greater than 50% in the 0.30-1.0 um range and equal to or greater than 85% in the 1.0-3.0 um range when tested in accordance with AHRI Standard 680.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="GEndNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">End Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">The responsible person's signature on this compliance document affirms that all applicable requirements in this table have been met.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_H" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Air Moving Equipment</xsd:documentation>
               <xsd:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="H_BeginNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Begin Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">
                           <d:i>The items listed below (7.1 through 7.4) correspond to the information given in ASHRAE 62.2 Section 7 "Air-Moving Equipment".  Refer also to Chapter 11 of the Non-Residential Compliance Manual (Section 11.4) for information describing these requirements in more detail.  The signature of the Responsible Person in the declaration statement below certifies that the building complies with these requirements specified in ASHRAE 62.2 Section 7.1 through 7.4 if applicable.</d:i>
                        </xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="H01" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">
                           <d:b>7.1  Selection and Installation.</d:b> Ventilation devices and equipment shall be tested and listed in accordance with ANSI/ASHRAE Standard 51/ AMCA 210, and ANSI/AMCA Standard 300, and rated in accordance with the airflow and sound rating procedures of the Home Ventilating Institute (HVI) (HVI 915, 916 920).  Installations of systems or equipment shall be carried out in accordance with manufacturers' design requirements and installation instructions.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="H02" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">
                           <d:b>7.2  Sound Ratings for Fans.</d:b> Ventilation fans shall be rated for sound at no less than the minimum airflow rate required by this standard, as noted below. These sound ratings shall be at a minimum of 0.1 in. w.c. (25 Pa) static pressure in accordance with the HVI procedure referenced in 7.1. 
                           <d:line1/> Exception: HVAC air handlers and remote mounted fans need not meet sound requirements.  To be considered for this exception, a remote mounted fan must be mounted outside the habitable spaces, bathrooms, toilets, and hallways, and there must be at least 4 ft (1 m) of ductwork between the fan and the intake grille. 
                           <d:line1/>
                           <d:tab1/> 7.2.1 
                           <d:b> Dwelling Unit Ventilation or Continuous Local Exhaust  Fans.</d:b> These fans shall be rated for sound at a maximum of 1.0 sone. 
                           <d:line1/>
                           <d:tab1/>   7.2.2 
                           <d:b>Demand-Controlled Local Exhaust Fans.</d:b> Bathroom exhaust fans used to comply with Section 5.2 shall be rated for sound at a maximum of 3 sone, Kitchen exhaust fans used to comply with Section 5.2 shall be rated for sound at a maximum of 3 sone at one or more airflow settings greater than or equal to 100 cfm (47 L/s).  
                           <d:line1/> Exceptions: 
                           <d:l t="#">
                              <d:list> Fans with minimum airflow settings exceeding 400 cfm (189 L/s) need not comply. </d:list>
                              <d:list> Kitchen Range hoods may be rated for sound at the static pressure determined at working speed as specified in HVI 916 section 7. </d:list>
                           </d:l>
                        </xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="H03" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">
                           <d:b>7.3 Exhaust Ducts.</d:b>
                           <d:line1/>
                           <d:tab1/> 7.3.1 
                           <d:b> Multiple Exhaust Fans Using One Duct.</d:b> Exhaust fans in separate dwelling units shall not share a common exhaust duct.  If more than one of the exhaust fans in a dwelling unit shares a common exhaust duct, each fan shall be equipped with a back draft damper to prevent the recirculation of exhaust air from one room to another through the exhaust ducting system. 
                           <d:line1/>
                           <d:tab1/> 7.3.2 
                           <d:b> Single Exhaust Fan Ducted to Multiple Inlets.</d:b> Where exhaust inlets are commonly ducted across multiple dwelling units, one or more exhaust fans located downstream of the exhaust inlets shall be designed and intended to run continuously, or a system of one or more backdraft dampers shall be installed to isolate each dwelling unit from the common duct when the fan is not running.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="H04" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">
                           <d:b>7.4 Supply Ducts.</d:b>  Where supply outlets are commonly ducted across multiple dwelling units, one or more supply fans located upstream of the supply inlets shall be designed and intended to run continuously, or a system of one or more backdraft dampers shall be installed to isolate each dwelling unit from the common duct when the fan is not running.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="HEndNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">End Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">The responsible person's signature on this compliance document affirms that all applicable requirements in this table have been met.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="lMCIMCH27bH" type="LMCIMCH27bH">
      <xsd:annotation>
         <xsd:documentation>This element contains all of the data and text required to generate the LMCIMCH27bH compliance report.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
</xsd:schema>
